html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

.youWillSuffer {
    font-size: 30px;
    padding: 60px;
    width: 100%;
    height: 100%;
    background: ;
}

a::selection {
    color: black;
    background: rgb(72, 73`, 248);
}
a{
    color: white;
}